.container-fluid {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background: #a4ece8;
    height: 100vh;
}
.container {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 600px;
    font-family: 'Roboto', sans-serif;
}
.modal-body {
    text-align: justify;
}